#page-course-view-folderview .topiclistlink { float:right; padding:0.5em 0.5em 0; }
#page-course-view-folderview #completionprogressid { padding:0.5em 0.5em 0; }
#page-course-view-folderview .fixfloat { height:1px;overflow:hidden;clear:both; }

/* Expand collapse CSS. Folder IMG src is set to a blank image and background
image is used so we can swap state images using CSS */
#page-course-view-folderview img.folder_icon { background-image:url([[pix:format_folderview|folder_open]]); background-repeat:no-repeat;width:32px; height:32px; }
#page-course-view-folderview .collapsed img.folder_icon { background-image:url([[pix:format_folderview|folder]]); }
#page-course-view-folderview .collapsed div.content div.summary,
#page-course-view-folderview .collapsed div.content ul.section { display:none; }
#page-course-view-folderview .pagetopic.collapsed div.content div.summary,
#page-course-view-folderview .pagetopic.collapsed div.content ul.section { display:block; }
#page-course-view-folderview .content h3:first-child { margin:6px; }

/* Add dialog css */
#page-course-view-folderview #addBlock .column { float:left;min-width:15%;max-width:33%; }
#page-course-view-folderview #addBlock .column a { display:block; padding:0.25em 20px 0.25em 0px; }
#page-course-view-folderview .rescat { float:left;padding:0.25em;margin:0.25em;border-style:none;min-width:34%; }
#page-course-view-folderview .rescat legend { font-weight:bold; }

#page-course-view-folderview .course-content ul.topics li.section .right.side {float: right; width: auto; }
#page-course-view-folderview .course-content ul.topics li.section .right.side > * {display: inline-block; float: right;  padding-right: 1px; padding-top: 1px;}
#page-course-view-folderview.editing li.activity .commands {z-index:999;display:inline-block;padding:5px;margin:0px 3px;position:absolute;right:0px;top:0px;}